@font-face { 
  font-family: 'Open Sans', sans-serif; 
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
  font-display: swap; 
}
/* 
.App {
  height: 100%;
  grid-gap: 20px;
  width: 100%;
}

h1 {
  margin-top: 20px;
} */