.slide-text {
    position: absolute;
    opacity: 1;
    width: 100%;
    text-align: center;
    transition: opacity 1s;
    z-index: 1;
    margin-top: 15%;
    color: white;
    font-weight: 700;
}

img {
    width: 100%;
    object-fit: cover;
    max-height: -webkit-fill-available;
}

.swiper {
    width: 80%;
    height: 400px;
}

.swiper-slide {
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

.swiper-slide-active {
    opacity: 1;
}

.swiper-wrapper {
    transition-duration: 800ms !important;
}

.swiper-pagination-bullet {
    background-color: white !important;
    opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
    opacity: 1 !important;
}

.swiper-button-next, .swiper-button-prev {
    color: white !important;
}

